<div class="col-md-12 col-lg-6 d-flex justify-content-center benefit-detail-col">
    <a class="benefit-link-container" href="{{ .link }}">
        <div class="benefit-detail-container grow">
            <img class="benefit-image" src="{{.imageURL }}"></img>    
            <h5 class="benefit-title">{{.title }}</h5>
            <p class="benefit-description">{{.description }}</p>
            <div class="learn-more-container">
                <a class="benefit-link align-middle" href="{{ .link }}">LEARN MORE</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
    </a>
</div>