<div class="detail-shortcode detail-cta">
    <a class="benefit-link-container" href="{{ $.Site.Data.index.cta.link }}">
        <div class="row detail-cta-row">
            <div class="col detail-cta-col">
                <div class="row detail-subtitle-row">
                    <div class="col detail-subtitle-col">
                        <p>{{ $.Site.Data.index.cta.subtitle }}</p>
                    </div>
                </div>
                <div class="row detail-title-row">
                    <div class="col detail-title-col">
                        <h4>{{ $.Site.Data.index.cta.title }}</h4>
                    </div>
                    <div class="col col-2 detail-icon-col d-flex align-items-center justify-content-end">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>    
            </div>
        </div>
    </a>
 </div>