.carousel-control-next, .carousel-control-prev {
    .fa-chevron-right, .fa-chevron-left {
        color: $theme-tertiary;
    }
}

.device-mockup.iphone6_plus.portrait > .device > .screen, .device-mockup.iphone6_plus > .device > .screen {
	top: 11.58%;
	bottom: 1.00%;
	left: 5.97%;
	right: 5.97%;
}