.detail-table {

    table {
        border-top: 2px $theme-primary solid;
    }

    th {
        font-size: 12px;
        color: $theme-primary;
    }

    td {
        font-size: 16px;
        color: $theme-primary-light;
        font-weight: 300;
    }

    table.table tbody tr td,
    table.table thead tr th,
    table.table thead {
        border-left: 1px solid $theme-primary-gray;
        border-right: 1px solid $theme-primary-gray;
        border-bottom: 1px solid $theme-primary-gray;
        padding: 16px 32px 16px 32px;
    }
}