{{ if eq .Page.Title "index" }}
<div class="container-fluid hero-container">
    <div class="row hero-row">
        <div class="col hero-col align-self-center">
            <h1 class="hero-title">{{ $.Site.Data.index.hero.title }}</h1>
            <p class="hero-subtitle">{{ $.Site.Data.index.hero.subtitle }}</p>
            <div class="row hero-button-row align-items-center">
                <div class="col-sm-12 col-md-6 hero-button-login-col">
                    <button class="btn btn-outline-dark hero-button login-button">{{ $.Site.Data.index.hero.leftButton }}</button>
                </div>
                <div class="col-sm-12 col-md-6 hero-button-info-col">
                    <button class="btn btn-outline-dark hero-button info-button">{{ $.Site.Data.index.hero.rightButton }}</button>
                </div>
            </div>
        </div>
    </div>
<script>
$('<img/>').attr('src', '{{ $.Site.Data.index.hero.imageURL }}').on('load', function() {
   $(this).remove(); // prevent memory leaks as @benweet suggested
   $('.hero-container').css('background-image', "url('{{ $.Site.Data.index.hero.imageURL }}')");
   $('.hero-container').animate({ opacity: 1 })
});
</script>
</div>
{{ else }} 
{{ $data := index $.Site.Data.sections $.Section}}
{{ $pageData := index $data $.Title }}
<div class="container-fluid hero-container small">
    <div class="row hero-row">
        <div class="col hero-col align-self-center">
            <h2 class="hero-title">{{ $pageData.hero.title }}</h2>
        </div>
    </div>
</div>
<script>
$('<img/>').attr('src', '{{ $pageData.hero.imageURL }}').on('load', function() {
   $(this).remove(); // prevent memory leaks as @benweet suggested
   $('.hero-container').css('background-image', "url('{{ $pageData.hero.imageURL }}')");
   $('.hero-container').animate({ opacity: 1 })
});
</script>
{{ end }}