<div class="container-fluid" id="hero-container">
    <div class="row hero-row">
        <div class="col hero-col">
            <h1 class="hero-title">{{ $.Site.Data.index.hero.title }}</h1>
            <p class="hero-subtitle">{{ $.Site.Data.index.hero.subtitle }}</p>

            {{ if eq .Page.Title "index" }}
            <div class="row hero-button-row align-items-center">
                <div class="col-sm-12 col-md-6 hero-button-login-col">
                    <button class="btn btn-outline-dark hero-button login-button">{{ $.Site.Data.index.hero.leftButton }}</button>
                </div>
                <div class="col-sm-12 col-md-6 hero-button-info-col">
                    <button class="btn btn-outline-dark hero-button info-button">{{ $.Site.Data.index.hero.rightButton }}</button>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>