<!-- Bootstrap core JavaScript -->
<script src="{{.Site.BaseURL}}/vendor/jquery/jquery.min.js"></script>
<script src="{{.Site.BaseURL}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{.Site.BaseURL}}/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="{{.Site.BaseURL}}/js/new-age.min.js"></script>

<!-- Custom scripts for this template -->
<script src="{{.Site.BaseURL}}/js/buttons.js"></script>

<script src="{{.Site.BaseURL}}/js/gallery.js"></script>