.btn.contact-btn {
    background-color: #2A8641;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    padding: 14px 30px 14px 30px;
}

.btn-outline.login-btn {
    border-radius: 4px;
}