<div class="container-fluid" id="cta-container">
    <div class="row justify-content-center section-row">
        <div class="col section-col">
            
            <!-- Start CTA Content -->
            <div class="row justify-content-center cta-content-row grow">
                <div class="col-md-8 col-sm-12 cta-content-col">
                    {{ partial "index/elements/cta.html" . }}
                </div>
            </div>
            <!-- End CTA Content -->

        </div>
    </div>
</div>