<div class="container-fluid" id="feature-container">
    <div class="row justify-content-center section-row">
        <div class="col section-col">
            <div class="row feature-content-row">
                <div class="col-sm-12 col-md-6 feature-image-col">
                    <img class="feature-image" src="{{ $.Site.Data.index.feature.imageURL }}">
                </div>
                <div class="col col-sm-12 col-md-6 feature-detail-col">
                    <h6>{{ $.Site.Data.index.feature.subtitle }}</h6>
                    <h4>{{ $.Site.Data.index.feature.title }}</h4>
                    <p>{{ $.Site.Data.index.feature.detail }} <a>Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>