<div class="container-fluid" id="feature-container">
    <div class="row justify-content-center section-row">
        <div class="col section-col">
            <div class="row justify-content-between feature-content-row grow">
                <div class="col-sm-12 col-md-6 feature-image-col">
                    <img class="feature-image" src="{{ $.Site.Data.index.feature.imageURL }}">
                </div>
                <div class="col col-sm-12 col-md-6 d-flex justify-content-end feature-detail-col">
                    <div class="feature-detail-container align-middle">
                        {{$feature := $.Site.Data.index.feature}}
                        <h6>{{ $feature.subtitle }}</h6>
                        <h4>{{ $feature.title }}</h4>
                        <p>{{ $feature.detail }} <a href="{{ $feature.link }}">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>