<div class="container-fluid" id="page-container">
    <div class="row justify-content-center section-row">
        <div class="col section-col">
            <div class="row detail-row">
                <div class="col col-md-3 detail-nav-col">
                    <ul class="nav flex-column side-nav">
                        {{ range $.Site.Data.sections.golf.nav }}
                        {{ $nav := index $.Site.Data.sections.golf . }}

                        {{ if eq $.URL $nav.link}}
                        <li class="nav-item">
                            <a class="detail-nav-link-selected" href="{{ $nav.link }}">{{ $nav.title }}</a>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="detail-nav-link" href="{{ $nav.link }}">{{ $nav.title }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>

                </div>
                <div class="col col-md-9 detail-content-col">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>