<div class="container-fluid" id="hero-container">
    <div class="row hero-row">
        <div class="col hero-col">
            <h1 class="hero-title">Broadmoor</h1>
            <p class="hero-subtitle">Golf Club</p>
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6 hero-button-login-col">
                    <button class="btn btn-outline-dark hero-button">MEMBER LOGIN</button>
                </div>
                <div class="col-sm-12 col-md-6 hero-button-info-col">
                    <button class="btn btn-outline-dark hero-button">REQUEST INFO</button>
                </div>
            </div>
        </div>
    </div>
</div>