<div class="container-fluid" id="page-container">
    <div class="row justify-content-center section-row">
        <div class="col section-col">
            <div class="row detail-row">
                <div class="col col-md-3 detail-nav-col">
                    <ul class="nav flex-column side-nav">
                        {{ range $.Site.Data.sections.golf.sections }}
                        {{ if eq $.URL .link}}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .link }}">{{ .title }}</a>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .link }}">{{ .title }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>

                </div>
                <div class="col col-md-9 detail-content-col">
                    {{ $section := (index $.Site.Data.sections.golf.sections 0) }}
                    {{ range $section.items }}
                    {{ if eq .type "paragraph" }}
                    {{ partial "elements/detail/paragraph.html" . }}
                    {{ end }}

                    {{ if eq .type "image" }}
                    {{ partial "elements/detail/image.html" . }}
                    {{ end }}

                    {{ if eq .type "table" }}
                    {{ partial "elements/detail/table.html" . }}
                    {{ end }}

                    {{ if eq .type "carousel" }}
                    {{ partial "elements/detail/carousel.html" . }}
                    {{ end }}

                    {{ if eq .type "cta" }}
                    {{ partial "elements/detail/cta.html" . }}
                    {{ end }}

                    {{ if eq .type "form" }}
                    {{ partial "elements/detail/form.html" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>