// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    font-family: Avenir;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $primary-font;
    color: $theme-primary;
    font-weight: 700;
    margin-bottom: 48px;
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 27px;
}

h5 {
    font-size: 21px;
    margin-bottom: 0px;
}

h6 {
    font-family: Avenir;
    color: $theme-primary-light;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 12px;
}

p {
    font-family: Avenir;
    color: $theme-primary-light;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}

a {
    @include transition-all;
    font-family: Avenir;
    font-size: 12px;
    font-weight: 300;
    color: $theme-primary-light;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $theme-primary !important;
        text-decoration: underline !important;
    }
}

.hero-subtitle {
    font-size: 21px;
    font-family: Avenir;
    color: white;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 24px;
}

.btn {
    border-radius: 2px;
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;

    &:hover,
    &:focus {
        background-color: white !important;
        color: $theme-primary !important;
    }
}

section {
    padding: 100px 0;

    h2 {
        font-size: 50px;
    }
}

.section-row {
    margin-left: 0px;
    margin-right: 0px;

    .section-col {
        padding-top: 48px;
        padding-bottom: 48px;
        border-top: 1px solid $theme-primary-gray;
        max-width: 784px;
        
        @media (max-width: $screen-md) { 
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

// Bootstrap Override.
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

.detail-element {
    margin-bottom: 48px;
}