// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    font-family: Avenir;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

//-----------------------------------------------
// Font Styling
//-----------------------------------------------

h1,
h2,
h3,
h4,
h5 {
    font-family: $primary-font;
    color: $theme-primary;
    font-weight: 500;
    margin-bottom: 24px;
}

h1 {
    font-size: $font-size-heading-x-large;
}

h2 {
    font-size: $font-size-heading-large;
}

h3 {
    font-size: $font-size-heading-medium;
}

h4 {
    font-size: $font-size-heading-small;
}

h5 {
    font-size: $font-size-heading-x-small;
}

h6 {
    font-family: Avenir;
    color: $theme-primary-light;
    font-size: $font-size-body-small;
    font-weight: 500;
    margin-bottom: 12px;
}

p {
    font-family: Avenir;
    color: $theme-primary-light;
    font-size: $font-size-body-small;
    font-weight: 300;
    line-height: 2;
}

a {
    @include transition-all;
    font-family: Avenir;
    font-size: $font-size-body-small;
    font-weight: 300;
    color: $theme-primary-light;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $theme-primary !important;
        text-decoration: underline !important;
    }
}

li {
    font-family: Avenir;
    color: $theme-primary-light;
    font-size: $font-size-body-medium;
    font-weight: 300;
    line-height: 2;
}

//-----------------------------------------------
// Images
//-----------------------------------------------

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 4px;
}
//-----------------------------------------------
// Buttons
//-----------------------------------------------

.btn {
    border-radius: 2px;
    font-family: Avenir;
    font-size: 11px;
    font-weight: 500;

    &:hover,
    &:focus {
        background-color: white !important;
        color: $theme-primary !important;
    }
}

//-----------------------------------------------
// Sections
//-----------------------------------------------

section {
    padding: 100px 0;

    h2 {
        font-size: 50px;
    }
}

.section-row {
    margin-left: 0px;
    margin-right: 0px;

    .section-col {
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid $theme-primary-gray;
        max-width: $screen-lg;

        @media (max-width: $screen-md) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .section-col-wide {
        max-width: $screen-lg;
    }

    .section-col-narrow {
        max-width: $screen-md;
    }
}

//-----------------------------------------------
// Rows - Bootstrap Override
//-----------------------------------------------

.row {
    margin-left: 0px;
    margin-right: 0px;
}

//-----------------------------------------------
// Cols - Bootstrap Override
//-----------------------------------------------

.col {
    padding-right: 0px;
    padding-left: 0px;
}

//-----------------------------------------------
// CSS Animations
//-----------------------------------------------

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }