
#hero-container {
    margin-bottom: 24px;
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    background: url(https://source.unsplash.com/-xvKQuNtOhI/1500x300);
    
    .hero-row {
        height: 100%;
    }

    .hero-col {
        text-align: center
    }

    .hero-title {
        color: white;
    }

    .hero-subtitle {
        color: white;
    }

    .hero-button-row {
        margin-top: 24px;
    }

    .hero-button-login-col {
        text-align: right;

        @media (max-width: $screen-sm) { 
            text-align: center;
        }
    }

    .hero-button-info-col {
        text-align: left;

        @media (max-width: $screen-sm) { 
            text-align: center;
        }
    }

    .hero-button {
        @include ch-button(white, white, transparent);

        @media (max-width: $screen-sm) { 
            width: 240px;
            margin-bottom: 12px;
        }
    }
}