.hero-container {
    height: 460px;
    margin-bottom: 24px;
    padding: 0px;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center top; 
    background-size: cover;
    opacity: 0;

    .hero-row {
        background-color: rgba(0, 0, 0, 0.25);
        height: 100%;
        
        @media (max-width: $screen-sm) { 
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    .hero-col {
        text-align: center
    }

    .hero-title {
        color: white;
        margin-bottom: 12px;
    }

    .hero-subtitle {
        color: white;
        margin-bottom: 36px;
        font-size: $font-size-body-large;
    }

    .hero-button-row {
        margin-top: 24px;
        
        @media (max-width: $screen-sm) { 
            margin-top: 48px;
        }
    }

    .hero-button-login-col {
        text-align: right;

        @media (max-width: $screen-md) { 
            text-align: center;
        }
    }

    .hero-button-info-col {
        text-align: left;

        @media (max-width: $screen-md) { 
            text-align: center;
        }
    }

    .hero-button {
        @include ch-button(white, white, transparent);

        @media (max-width: $screen-sm) { 
            width: 90%;
            height: 42px;
            margin-bottom: 12px;
        }
    }
}

.hero-container.small {
    height: 220px;

    

    .hero-subtitle {
        color: white;
        margin-bottom: 0px;
    }
}

.small {
    .hero-row {
        background-color: rgba(0, 0, 0, 0.5);
    }
}