<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>ClubHub - Modern Club Software, Finally.</title>
    
        <!-- Bootstrap core CSS -->
        <link href="{{.Site.BaseURL}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom fonts for this template -->
        <link href="{{.Site.BaseURL}}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{.Site.BaseURL}}/vendor/simple-line-icons/css/simple-line-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="{{.Site.BaseURL}}/device-mockups/device-mockups.min.css">
    
        <!-- Custom styles for this template -->
        {{ $style := resources.Get "scss/new-age.scss" | toCSS }}
        <link href="{{ $style.Permalink }}" rel="stylesheet">
</head>

</html>