<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 my-auto">
                <div class="header-content mx-auto">
                    <h1>
                        Build an <span><u id="underlined">engaged</u></span><br/>
                        membership<br/>
                        community
                    </h1>
                    <div class="mt-4 mb-5 header-subtitle">
                        ClubHub is a modern club software platform that helps build active and engaged membership communities.
                    </div>
                    <a href="#contact" class="btn contact-btn btn-xl js-scroll-trigger" data-toggle="modal"
                        data-target="#contact-modal">Schedule a demo</a>
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <img class="d-block w-100" src="{{.Site.BaseURL}}/img/mobile-app-feed.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
