{{ define "main" }}

    <!-- Navigation -->
    {{ partial "shared/navbar.html" . }}

    <!-- Hero -->
    {{ partial "shared/hero.html" . }}

    <!-- Feature -->
    {{ partial "index/feature.html" . }}

    <!-- Benefits -->
    {{ partial "index/benefits.html" . }}

    <!-- Hero CTA -->
    {{ partial "index/cta.html" . }}

    <!-- Footer -->
    {{ partial "shared/footer.html" . }}

    <!-- Scripts -->
    {{ partial "shared/scripts.html" . }}
    
    <!-- Script to animate section row reveals -->
    <script>
        ScrollReveal().reveal('.section-row', { delay: 250 });
    </script>
{{ end }}