.detail-cta {
    border: 1px $theme-primary-gray solid;
    border-top: 2px $theme-primary solid;
    padding: 28px 32px 38px 32px;
    
    h4 {
        margin-bottom: 0px;
    }
    p {
        margin-bottom: 12px;
    }
}