.detail-form {

    h5 {
        margin-bottom: 28px;
    }

    label {
        font-size: 12px;
        color: $theme-primary;
        margin-bottom: 12px;
    }

    input {
        font-size: 16px;
        color: $theme-primary-light;
        font-weight: 300;
        border-radius: 0px;
        border-color: $theme-primary-gray;
        
        ::placeholder {
            color: $theme-primary-lighter;
        }
    }

    .detail-form-col {
        margin-bottom: 24px;
        max-width: 280px;
    }
}