.modal.fade {
    padding-right: 0px !important;
}

.detail-gallery {
    
    .detail-gallery-col {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
        max-height: 180px;
        width: 95%;

        @media (max-width: $screen-md) { 
            width: 100%;
        }
    }

    .gallery-image-container {
        overflow: hidden;
        height: 100%;
        width: 95%;
        text-align: center;

        @media (max-width: $screen-md) { 
            width: 100%;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}