.modal-dialog {
    max-width: 1000px;
}

.carousel-item {
    img {
        height: 400px;    
    }
}

.carousel-control {
    max-height: 400px;
}

.gallery-container {
    padding-left: 0px;
    padding-right: 0px;   

    .row {
        border-bottom: 1px solid $theme-primary-gray;
    }

    .image-col {
        padding-left: 0px;
        padding-right: 0px;
    }   
    
    img {
        border-radius: 0px; 
    }
    
    .content-row {
        padding: 24px 36px;
        
        h5 {
            margin: 0px;
            margin-bottom: 8px;
        }
    
        .image-subtile {
            color: gray;
        }
    }
}

