.modal-dialog {
    max-width: 80vw;
    border-radius: 8px;
    overflow: hidden;
}

.carousel-item {
    img {
        height: 90vh;    
    }
}

.carousel-control {
    max-height: 90vh;
}

.gallery-container {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;

    .image-col {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }   
    
    img {
        border-radius: 0px; 
    }
    
    .image-description-row {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0px;
        padding: 12px 24px;
        
        h5 {
            margin: 0px;
            margin-bottom: 8px;
        }
        
        .image-hole {
            color: white;
        }
        .image-description {
            color: white;
            line-height: 1.5;
        }
        .image-subtile {
            color: white;
        }
    }
}

