.modal-dialog {
    max-width: 800px;
}

.carousel-tour-content {
    padding: 24px 36px;
    
    h5 {
        margin: 0px;
        margin-bottom: 8px;
    }

    .image-subtile {
        color: gray;
    }
}

.carousel-item {
    img {
        height: 400px;    
    }
}

.carousel-control {
    max-height: 400px;
}

