<div class="row detail-shortcode detail-person">
    {{ $section := index .Site.Data.sections (.Get 0) }}
    {{ $data := index $section (.Get 1) }}
    {{ $items := index $data (.Get 2) }}
    {{ range $items}}
    <div class="col-sm-6 person-detail-col">
        <div class="row person-detail-row">
            <div class="col-4 person-image-col">
                <img class="person-image" src="{{.imageURL}}"></img>
            </div>
            <div class="col-8 person-content-col">
                <h5>{{ .name }}</h5>
                <p class="person-info">{{ .title }}</p> 
                <a class="person-info">{{ .email }}</a>
                <a class="person-info">{{ .phone }}</a>
            </div>
        </div>
    </div>
    {{ end }}
 </div>